[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
django-storages = "*"
pillow = "*"
gunicorn = "*"
django-environ = "==0.9.0"
psycopg2-binary = "*"
google-cloud-secret-manager = "*"
channels = "*"
channels-redis = "*"
dj-rest-auth = "*"
django-allauth = "*"
daphne = "*"
google-cloud-translate = "*"
google-cloud-texttospeech = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.11"
