[Unit]
Description=Daphne ASGI Server - Smart Chat
After=network.target

[Service]
User=ec2-user
Group=users
WorkingDirectory=/home/ec2-user/smart_chat/smart_chat_backend
ExecStart=/home/ec2-user/.local/bin/pipenv run daphne -b 0.0.0.0 -p 8000 smart_chat_backend.asgi:application

[Install]
WantedBy=multi-user.target